*  {
  box-sizing: border-box;
}

html {
  line-height: 1.0;
}

body {
  font-family: "PTSans", "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  background-color: rgb(242, 242, 242)
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-shadow {
  box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.2);
}


/*
 * Навигация сайта
 */

.nav-site {
  width: 100%;
  position: relative;
}

.nav-site a.logo {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav-site ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 0;
  padding-bottom: 0;
  background: white;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.nav-site li {
  margin-top: 15px;
  margin-bottom: 15px;
  word-break: break-all;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.nav-site li:nth-of-type(4n+1) {
  width: calc( 100% / ( 2 + 2*288/240 ) );
  padding-right: 10px;
  text-align: left;
}

.nav-site li:nth-of-type(4n+2) {
  width: calc( 100% / ( 2 + 2*240/288 ) - 1px );
  padding-right: 65px;
  text-align: left;
}

.nav-site li:nth-of-type(4n+3) {
  width: calc( 100% / ( 2 + 2*240/288 ) - 1px );
  padding-left: 65px;
  text-align: right;
}

.nav-site li:nth-of-type(4n+4) {
  width: calc( 100% / ( 2 + 2*288/240 ) );
  padding-left: 10px;
  text-align: right;
}

.nav-site a,
.nav-site a:visited {
  color: black;
  background-color: transparent;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.nav-site a:hover,
.nav-site a:focus {
  color: rgb(129, 179, 210);
}

.nav-site a:active {
  color: rgba(0, 0, 0, 0.302);
}

.nav-site a:not([href]) {
  color: #766357;
}


/*
 * Основная секция, основной фон
 */

.background-main {
  width: 100%;
  min-width: 768px;
  height: 508px;
  background-color: #766357;
  background-image:
    url("../img/graphics/welcome.png"),
    url("../img/graphics/mountains-big-v.png"),
    url("../img/photo/mountains-big.jpg");
  background-position:
    center 76px,
    center bottom,
    center 20.7%;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size:
    auto,
    100.1249%, /* компенсация: ошибкой в файле фонового рисунка <= 1.499px/1200px = 0.1249% */
    100%;
}


/*
 * Секция доводов: заголовочная часть
 */

.reasons {
  width: 100%;
}

.reasons-summary {
  background-color: white; /* Для FF/IE */
  padding-top: 34px;
  padding-bottom: 35px;
  padding-left: 25%;
  padding-right: 25%;
}

.reasons .text-leading {
  color: black;
  background-color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 26px;
}

.reasons .text {
  color: rgb(51, 51, 51);
  background-color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}


/*
 * Секция доводов: перечисление доводов
 */

/*
 * Основные доводы, имеющие собственные фотографии
 */

.reasons-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reason-main {
  color: white;
  background-color: #81b3d2;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.reason-main:nth-of-type(1) {
  order: -1;
}

.reason-main-text {
  flex-shrink: 1;
  padding-top: 47px;
  padding-bottom: 5px;
  max-width: 400px;
  min-width: 256px;
}

.reason-main:nth-of-type(2n) .reason-main-text {
  order: 2;
}

.reason-main h3 {
  color: white;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
  margin-left: 23%;
  margin-right: 23%;
}

.reason-main:nth-of-type(1) h3::after {
  content: "— № 1 —";
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
  font-weight: normal;
  text-align: center;
}

.reason-main:nth-of-type(2) h3::after {
  content: "— № 2 —";
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 23px;
  font-weight: normal;
  text-align: center;
}

.reason-main p {
  color: white;
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 0;
}

.reason-main img {
  flex-shrink: 1;
  max-width: 800px;
  min-width: 512px;
  height: auto;
}


/*
 * Основная секция - второстепенные причины
 */

.reasons-secondary {
  padding-top: 25px;
  padding-bottom: 0;
  padding-bottom: 46px;
  background-color: #eeeeee;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reason-secondary {
  flex-shrink: 1;
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3%;
  min-width: 256px;
}

.reason-secondary h3 {
  color: black;
  background-color: #eeeeee;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 21px;
  word-wrap: break-word;
  word-break: break-word;
}

.reason-secondary p {
  color: #333;
  background-color: #eeeeee;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  padding-left: 16%;
  padding-right: 16%;
  word-wrap: break-word;
  word-break: break-word;
}

.reason-secondary:nth-of-type(1) h3::after {
  content: "— № 3 —";
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
  font-weight: normal;
  text-align: center;
}

.reason-secondary:nth-of-type(2) h3::after {
  content: "— № 4 —";
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
  font-weight: normal;
  text-align: center;
}

.reason-secondary:nth-of-type(3) h3::after {
  content: "— № 5 —";
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
  font-weight: normal;
  text-align: center;
}

.hints {
  display: flex;
  align-items: baseline;
  background-color: white;
  padding-top: 56px;
  padding-bottom: 70px;
  order: -1;
  width: 100%;
}

.hint {
  background-color: white;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-left: 3.9%;
  padding-right: 3.9%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.hint h3 {
  color: black;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 24px;
}

.hint p {
  color: #333;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.hint-housing {
  background-size: 75px 74px;
  background-image: url("../img/svg/icon-home.svg");
  background-position: center 2px;
}

.hint-food {
  background-size: 74px 72px;
  background-image: url("../img/svg/icon-hamburger.svg");
  background-position: center 3px;
}

.hint-souvenirs {
  background-size: 64px 76px;
  background-image: url("../img/svg/icon-souvenir.svg");
  background-position: center top;
}


/*
 * Поиск проживания
 */

 .find-hotel {
  position: relative;
  width: 100%;
  padding-top: 49px;
  background-color: white;
 }

.find-hotel-container {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.find-hotel .text-leading {
  color: black;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
}

.find-hotel .text {
  color: #333;
  background-color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;

  margin-top: 0;
  margin-bottom: 46px;
  margin-left: 10%;
  margin-right: 10%;
}

.find-hotel .btn-header {
  display: block;
  color: white;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.find-hotel .btn-header:hover,
.find-hotel .btn-header:focus {
  background-color: #604e43;
}

.find-hotel .btn-header:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #503e33;
}

.find-hotel iframe.find-hotel-map {
  position: relative;
  width: 100%;
  margin: 0;
  border: none;
  border: 0;
  background-color: rgb(242, 242, 242);
}

.find-hotel img.find-hotel-map {
  position: absolute;
  z-index: -3;
  width: 100%;
  margin: 0;
  border: none;
  left: 0;
  right: 0;
  background-color: rgb(242, 242, 242);
}

.find-hotel form {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 55px;
  margin-bottom: 75px;
  box-shadow: 0 15px 10px 7px rgba(0, 0, 0, 0.15);

  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.find-hotel form.form-closed {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.find-hotel form:not(.form-closed) {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
   display: none;
   left: -3000px;
  }
  1% {
   left: -3000px;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-out {
  0% {
    left: 0;
  }
  99% {
   left: -3000px;
  }
  100% {
   display: none;
   left: -3000px;
  }
}

.shake {
  display: block;
  position: relative;
  animation-name: shake;
  animation-duration: 0.1s;
  animation-iteration-count: 6;
}

@keyframes shake {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

.form-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form-line:nth-of-type(n+2) {
  margin-top: 29px;
}

.find-hotel label {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  background-color: white;
}

.find-hotel input.date {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  width: 346px;
  min-height: 38px;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 11px;
  padding-right: 45px;
}

.find-hotel input.date:hover,
.find-hotel input.date:active {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.find-hotel input.date:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.find-hotel input::placeholder {
  color: black;
  font-size: 14px;
  opacity: 1; /* Поверил */
}

button.calendar {
  fill: #cacaca;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-width: 0;
  position: absolute;
  right: 12px;
  top: 7px;
}

button.calendar:hover path,
button.calendar:focus path {
  fill: #000;
}

button.calendar:active path {
  fill: #81b3d2;
}


/*
 * Форма: строка 'Количество взрослых и детей'
 */

.find-hotel .form-line-inner {
  width: 346px;
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.find-hotel input.number {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-width: 0;
  min-height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

.label-children {
  margin-right: 27px;
  margin-left: auto;
}


/*
 *
 * кнопки "меньше" и "больше"
 *
 */

.find-hotel .container-number {
  display: flex;
  align-items: center;
}


/*
 * фон для кнопок "уменьшить" и "увеличить"
 */

.find-hotel button.dec,
.find-hotel button.inc {
  display: inline-block;
  vertical-align: center;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border-width: 0;
  padding: 0;
 }


/*
 * горизонтальный "минус" для кнопки "уменьшить"
 */

.find-hotel .dec::before {
  content: "";
  background-color: #a9a9a9;
  width: 11px;
  height: 3px;
  display: block;
  position: relative;
  left: 13px;
}


/*
 * горизонтальный "минус" для кнопки "увеличить"
 */

.find-hotel .inc::before {
  content: "";
  background-color: #a9a9a9;
  width: 11px;
  height: 3px;
  display: block;
  position: relative;
  left: 13px;
  top: 8px;
}


/*
 * вертикальная часть для кнопки "увеличить"
 */

.find-hotel .inc::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;

  position: relative;
  left: -1px;
  top: 1px;
}


/*
 * изменение цвета при наведении (фокусе)
 */

.find-hotel .dec:hover::before,
.find-hotel .dec:focus::before,
.find-hotel .inc:hover::before,
.find-hotel .inc:focus::before {
  background-color: black;
}

.find-hotel .inc:hover::after,
.find-hotel .inc:focus::after {
  background-color: black;
}


/*
 * изменение цвета при нажатии
 */

.find-hotel .dec:active::before,
.find-hotel .inc:active::before {
  background-color: #81b3d2;
}

.find-hotel .inc:active::after {
  background-color: #81b3d2;
}


/*
 * Кнопка "Найти"
 */

.find-hotel .btn-find {
  display: block;
  color: white;
  background-color: #81b3d2; /*Проверено.*/
  font-size: 21px;    /*Проверено.*/
  font-weight: bold;  /*Проверено.*/
  line-height: 26px; /*Проверено.*/
  width: 100%;
  border: 0;
  text-align: center;
  text-transform: uppercase; /*Проверено.*/
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 17px;
  padding-bottom: 16px;
}

.find-hotel .btn-find:hover,
.find-hotel .btn-find:focus {
  background-color: #669ec0; /*Проверено.*/
}

.find-hotel .btn-find:active {
  color: rgba(255, 255, 255, 0.302); /*Проверено.*/
  background-color: #5496bd; /*Проверено.*/
}


/*
 * Карта в нижней части формы поиска
 */
main .map {
  margin-left: auto;
  margin-right: auto;
}


/*
 *
 * Секция для hotels.html
 *
 */

.hotels-container {
  max-width: 1200px;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
}


/*
 * Форма поиска
 */

.find-params-form {
  background-color: #766357;
  background-image: url("../img/photo/mountains-blur.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position-y: -55px;
  border-width: 0;
  padding-top: 29px;
  padding-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.find-params-form fieldset {
  width: 255px;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-width: 0;
}

.find-params-form fieldset:nth-last-of-type(1) {
  margin-right: auto;
}

.find-params-form legend {
  margin-bottom: 24px;
}

 .find-params-form label {
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
 }

.find-params-form ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.find-params-form li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.checkbox + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;

  background-color: transparent;
  border-width: 0;
}

.checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.checkbox:disabled + label::before {
  background-image: url("..img/svg/checkbox-off-disabled.svg");
}

.checkbox:checked:disabled + label::before {
  width: 27px;
  background-image: url("..img/svg/checkbox-on-disabled.svg");
}

.checkbox:focus + label::before {
  outline: 1px dashed #ffffff;
  outline-offset: 2px;
}


.find-params-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: white;
}

.find-params-form label {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: white;
}


/*
 * Цена: поля ввода и слайдер
 */

.filter-range {
  width: 318px;
}

.filter-range-title {
  margin-top: -2px;
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: white;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price-controls .price-min,
.price-controls .price-max {
  width: 86px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: right;
}

.price-controls input {
  width: 63px;
  height: 21px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding: 0;
  color: white;
  background: transparent;
  border: none;
}

.price-controls::after { /* разделитель двух input */
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  vertical-align: top;
  cursor: pointer;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.3);

  position: absolute;
  top: -9px;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-min:hover {
  border-width: 9px;
  left: -1px;
  top: -10px;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle-max:hover {
  border-width: 9px;
  top: -10px;
  left: calc(80% - 1px);
}

.find-params-form .btn-submit {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 5px 34px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  left: -5px;
}

.find-params-form .btn-submit:hover {
  color: black;
  background: white;
}


/*
 * Количество результатов и параметры поиска
 */

.hotels-summary-sort {
  background-color: white;
  padding-top: 29px;
  padding-bottom: 20px;
  background-color: rgb(254, 254, 254);

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.results-count {
  color: black;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  padding-right: 21px;
}


/*
 *  Виды сортировки
 */

.hotels-summary-sort h3 {
  color: black;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  margin-left: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.sort-types {
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-left: 16px;
  max-width: 40%;

  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.sort-types li {
  flex-shrink: 1;
  min-width: 80px;
  max-width: 200px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 1px;
  padding-bottom: 12px;
}

.sort-types a {
  color: rgba(0, 0, 0, 0.3);
  background-color: white;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-types a:hover,
.sort-types a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-types a:active {
  color: black;
  border-bottom: 0;
}

.sort-type-current a,
.sort-type-current a:visited {
  color: #81b3d2;
  border-bottom: 0;
}


/*
 *  Направление сортировки
 */

.sort-direction {
  margin: 0;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.sort-direction li {
  list-style: none;
}

.sort-direction li:nth-last-of-type(n+2) {
  margin-right: 12px;
}


/*
 * Стрелочки вниз (сортировка по возрастанию: от меньшего к большему)
 */

.sort-direction a,
.sort-direction a:visited {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.sort-direction-to-more a {
  background-image: url("../img/svg/icon-dir-up.svg");
}

.sort-direction-to-more a:hover,
.sort-direction-to-more a:focus {
  background-image: url("../img/svg/icon-dir-up-hover.svg");
}

.sort-direction-to-more a:active {
  background-image: url("../img/svg/icon-dir-up-pressed.svg");
}

.sort-direction-to-more a.current,
.sort-direction-to-more a.current:focus,
.sort-direction-to-more a.current:hover,
.sort-direction-to-more a.current:active {
  background-image: url("../img/svg/icon-dir-up-pressed.svg");
}


/*
 * Стрелочки вверх (сортировка по убыванию: от большего к меньшему)
 */

.sort-direction-to-less a {
  background-image: url("../img/svg/icon-dir-down.svg");
}

.sort-direction-to-less a:hover,
.sort-direction-to-less a:focus {
  background-image: url("../img/svg/icon-dir-down-hover.svg");
}

.sort-direction-to-less a:active {
  background-image: url("../img/svg/icon-dir-down-pressed.svg");
}

.sort-direction-to-less a.current,
.sort-direction-to-less a.current:focus,
.sort-direction-to-less a.current:hover,
.sort-direction-to-less a.current:active {
  background-image: url("../img/svg/icon-dir-down-pressed.svg");
}


/*
 *  Список найденных гостиниц
 */

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(254, 254, 254);
  padding-bottom: 120px;
}

.hotels-list-item {
  border-top: 1px solid rgb(229, 229, 229);
  padding-top: 25px;
  padding-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hotels-list-item:last-of-type {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotels-list-item img {
  order: -1;
  margin-top: 5px;
  max-width: 135px;
  min-width: 135px;
  max-height: 90px;
}

.hotels-list-item-text {
  margin-left: 30px;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.hotel-name {
  color: black;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 7px;
  padding-right: 21px;
  word-break: break-all;
  word-wrap: break-word;
}

.hotel-name a,
.hotel-name a:visited {
  color: black;
  text-decoration: none;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-name + div {
  padding-bottom: 14px;
  display: flex;
}

.hotel-text-details {
  margin: 0;
  margin-right: 38px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.hotel-text-details p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333;
  margin: 0;
  margin-right: 5px;
  word-break: break-all;
  word-wrap: break-word;
  width: 110px;
}

.hotel-go-details,
.hotel-go-details:visited {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;

  color: white;
  background-color: #81b3d2;
  text-decoration: none;
  margin-right: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 17px;
}

.hotel-go-details:hover,
.hotel-go-details:focus {
  background-color: #669ec0;
}

.hotel-go-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-go-book-it,
.hotel-go-book-it:visited {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  color: white;

  background-color: #766357;
  margin-right: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 17px;
}

.hotel-go-book-it:hover,
.hotel-go-book-it:focus {
  background-color: #604e43;
}

.hotel-go-book-it:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.stars-rating {
  margin: 0;
  margin-left: auto;
  margin-top: 4px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.stars-rating p {
  margin: 0;
}

.stars-5 {
  background-image:
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg");
  background-repeat: no-repeat;
  background-position:
       0 0,
    24px 0,
    48px 0,
    72px 0,
    96px 0;
  width: 114px;
  height: 17px;
}

.stars-4 {
  background-image:
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg");
  background-repeat: no-repeat;
  background-position:
       0 0,
    24px 0,
    48px 0,
    72px 0;
  width: 90px;
  height: 17px;
}

.stars-3 {
  background-image:
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg");
  background-repeat: no-repeat;
  background-position:
       0 0,
    24px 0,
    48px 0;
  width: 66px;
  height: 17px;
}

.stars-2 {
  background-image:
    url("../img/svg/star.svg"),
    url("../img/svg/star.svg");
  background-repeat: no-repeat;
  background-position:
       0 0,
    24px 0;
  width: 42px;
  height: 17px;
}

.stars-1 {
  background-image: url("../img/svg/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.hotels-list-item .hotel-rating {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  width: 111px;
  background-color: #f2f2f2;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 11px;
  padding-right: 13px;
  margin-top: 47px;

  text-align: right;
  word-break: break-all;
  word-wrap: break-word;
}


/*
 * Footer
 */

.footer-site {
  position: absolute;
  bottom: 0;
  background-color: rgba(254, 254, 254, 0.9);
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.footer-hashtags {
  flex-basis: 250px;
  flex-shrink: 1;
  flex-grow: 1;
  color: black;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  flex-basis: 250px;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social ul {
  list-style: none;
  background-color: rgba(254, 254, 254, 0.9);
  padding: 0;
  display: flex;
}

.footer-social li:not(:last-of-type) {
  margin-right: 6px;
}

.footer-social a {
  display: inline-block;
  vertical-align: top;
  color: black;
  text-decoration: none;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
}

.footer-site .social-tw {
  background-image: url("../img/svg/icon-tw.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social-tw:active {
  background-image: url("../img/svg/icon-tw-pressed.svg");
}

.footer-site .social-fb {
  background-image: url("../img/svg/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social-fb:active {
  background-image: url("../img/svg/icon-fb-pressed.svg");
}

.footer-site .social-yt {
  background-image: url("../img/svg/icon-yt.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social-yt:active {
  background-image: url("../img/svg/icon-yt-pressed.svg");
}

.footer-copyright {
  flex-basis: 250px;
  flex-shrink: 1;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright p {
  color: black;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  margin-right: 8px;
}

.footer-copyright a,
.footer-copyright a:visited {
  display: inline-block;
  vertical-align: top;
  width: 115px;
  height: 41px;
  text-decoration: none;
  background-image: url("../img/svg/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  background-image: url("../img/svg/logo-htmlacademy-hover.svg");
}

.footer-copyright a:active {
  background-image: url("../img/svg/logo-htmlacademy-pressed.svg");
}
