*  {
  box-sizing: border-box;
}

body {
  font-family: "PTSans", "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*
 * Навигация сайта
 */

.nav-site a.logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-site ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.nav-site li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.nav-site li:nth-child(-n+2) {
  text-align: left;
}

.nav-site li:nth-last-child(-n+2) {
  text-align: right;
}

.nav-site a,
.nav-site a:visited {
  color: black; /* Проверено. */
  background-color: white; /* Проверено. */
  font-size: 14px; /* Проверено. */
  line-height: 26px;
  font-weight: bold; /* Проверено. */
  text-decoration: none;
}

.nav-site a:hover,
.nav-site a:focus {
  color: rgb(129, 179, 210); /* Проверено. */
}

.nav-site a:active {
  color: rgba(0, 0, 0, 0.302); /* Проверено. */
}

.nav-site a:not([href]) {
  color: #766357; /* Проверено. */
}


/*
 * Основная секция, основной фон
 */

.background-main {
  width: 1200px;
  height: 773px;
  background-image:
    url("../img/graphics/welcome.png"),
    url("../img/graphics/mountains-big-v.png"),
    url("../img/photo/mountains-big.jpg");
  background-position:
    center 132px,
    center bottom,
    center top;
  background-repeat:
    no-repeat,
    no-repeat;
}


/*
 * Основная секция, основные доводы
 */

.reasons .text-leading {
  color: black; /* Проверено. */
  background-color: white;
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  line-height: 26px; /* Проверено. */
  text-align: center;
}

.reasons .text {
  color: rgb(51, 51, 51); /* Проверено. */
  background-color: white;
  font-size: 14px; /* Проверено. */
  font-weight: normal; /* Проверено. */
  line-height: 26px; /* Проверено. */
  text-align: center;
}

.reason-main {
  background-color: #81b3d2;
  color: white;
}

.reason-main h3 {
  color: white; /* Проверено. */
  background-color: #81b3d2; /* Проверен цвет. Не проверены эффекты. */
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  line-height: 21px; /* Проверено. */
  text-align: center;
}

.reason-main p {
  color: white;
  background-color: #81b3d2; /* Проверен цвет. Не проверены эффекты. */
  font-size: 14px; /* Проверено. */
  font-weight: normal; /* Проверено. */
  line-height: 21px; /* Проверено. */
  text-align: center;
}

/*
 * Основная секция - второстепенные резоны
 */

.reason-secondary {
  background-color: #eeeeee; /* Проверено. */
}

.reason-secondary h3 {
  color: black; /* Проверено. */
  background-color: #eeeeee; /* Проверено. */
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  line-height: 21px; /* Проверено. */
  text-align: center;
}

.reason-secondary p {
  color: black; /* Проверено. */
  background-color: #eeeeee; /* Проверено. */
  font-size: 14px; /* Проверено. */
  font-weight: normal; /* Проверено. */
  line-height: 21px; /* Проверено. */
  text-align: center;
}


/*
 * Основная секция - подсказки
 */

.hints {
  background-color: white; /* Проверено, но на глаз выглядит серее. Перепроверить. */
  color: black; /* Проверено. */
}

.hints h3 {
  color: black; /* Проверено. */
  background-color: rgba(255, 255, 255, 0);
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  line-height: 21px; /* Проверено. */
  text-align: center;
  padding-top: 75px;
}

.hints p {
  color: black; /* Проверено. */
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px; /* Проверено. */
  line-height: 21px; /* Проверено. */
  text-align: center;
}

.hints .hints-housing {
  display: block;
  background-color: white;
  background-image: url("../img/svg/icon-home.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hints .hints-food {
  background-color: white;
  background-image: url("../img/svg/icon-hamburger.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hints .hints-souvenirs {
  background-color: white;
  background-image: url("../img/svg/icon-souvenir.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position-x: center;
}


/*
 * Поиск проживания
 */

 .find-hotel {
  background-color: white;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
 }

.find-hotel .text-leading {
  color: black; /* проверено */
  background-color: white; /* проверено */
  font-size: 30px; /* проверено */
  font-weight: bold; /* проверено */
  line-height: 36px; /* проверено */
  text-align: center;
}

.find-hotel .text {
  color: black; /* проверено */
  background-color: white; /* проверено */
  font-size: 14px; /* проверено */
  font-weight: normal; /* проверено */
  line-height: 24px; /* проверено */
  text-align: center;
}

.find-hotel .btn-header {
  color: white;
  background-color: #766357; /* Проверено. */
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  line-height: 26px; /* Проверено. */
  text-transform: uppercase; /* Проверено. */
  text-align: center;
  border: 0;
  width: 568px; /* Проверено. */
  padding-top: 31px;
  padding-bottom: 31px;
}

.find-hotel .btn-header:hover,
.find-hotel .btn-header:focus {
  background-color: #604e43; /* Проверено. */
}

.find-hotel .btn-header:active {
  color: rgba(255, 255, 255, 0.302); /* Проверено. */
  background-color: #503e33; /* Проверено. */
}

.find-hotel form {
  background-color: rgba(255, 255, 255, 1);
  /*width: 568px; *//* ширина с тенью: 595px, высота с тенью: 419px */
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 55px;
  box-shadow: 0 15px 10px 7px rgba(0, 0, 0, 0.2); /* пока условно, размеры не замерял */
}

.find-hotel label {
  color: black; /* Проверено. */
  font-size: 14px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  line-height: 26px; /* Проверено. */
  background-color: white;
}

.find-hotel input.date {
  color: black; /* Проверено. Но не реагирует на плейсхолдер */
  font-size: 14px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  line-height: 26px; /* Проверено. */
  text-transform: uppercase; /* Проверено. */
  background-color: #f2f2f2; /* Проверено. */
  border: 2px solid #f2f2f2;
  padding-top: 11px; /* Проверено. +-1 */
  padding-bottom: 11px; /* Проверено. +-1 */
  padding-left: 14px; /* Проверено. +-1 */
  padding-right: 14px; /* Проверено. +-1 */
}

.find-hotel input.date:hover,
.find-hotel input.date:active {
  background-color: #ebebeb; /* Проверено. */
  border: 2px solid #ebebeb; /* Проверено. */
}

.find-hotel input.date:focus {
  background-color: #fff; /* Проверено. */
  border: 2px solid #e5e5e5; /* Проверено. */
}

.find-hotel input:-ms-input-placeholder,
.find-hotel input::-ms-input-placeholder,
.find-hotel input::placeholder {
  color: black; /* Проверено. */
  font-size: 14px; /* Проверено. */
  opacity: 1; /* Поверил */
}

.find-hotel button.date {
  display: inline-block;
  background-image: url("../img/svg/calendar.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 21px;
  height: 22px;
  border-width: 0;
}

.find-hotel button.date:hover,
.find-hotel button.date:focus {
  background-image: url("../img/svg/calendar-hover.svg");
}

.find-hotel button.date:active {
  background-image: url("../img/svg/calendar-pressed.svg");
}


/*
 *
 * кнопки "меньше" и "больше"
 *
 */

/*
 * фон для кнопок "уменьшить" и "увеличить"
 */

.find-hotel .dec,
.find-hotel .inc {
  width: 38px; /* проверено */
  height: 38px; /* проверено */
  background-color: #f2f2f2; /* проверено */
  border-width: 0;
  padding: 0;
}

/*
 * горизонтальный "минус" для кнопок "уменьшить" и "увеличить"
 */

.find-hotel .dec::before,
.find-hotel .inc::before {
  content: "";
  display: inline-block;
  border-width: 0;
  width: 12px; /* Проверено. Но не сплошной цвет: возможно 11px; */
  height: 3px; /* Проверено */
  background-color: #a9a9a9; /* Проверено */
  padding: 0;
  margin: 0;
  z-index: 2;
}

/*
 * вертикальная часть для кнопки "увеличить"
 */

.find-hotel .inc::after {
  content: "";
  display: inline-block;
  border-width: 0;
  width: 3px; /* Проверено */
  height: 12px; /* Проверено. Но не сплошной цвет: возможно 11px; */
  background-color: #a9a9a9; /* Проверено */
  z-index: 2;
}

/*
 * изменение цвета при наведении (фокусе)
 */

.find-hotel .dec:hover::before,
.find-hotel .dec:focus::before,
.find-hotel .inc:hover::before,
.find-hotel .inc:focus::before {
  background-color: black; /* Проверено */
}

.find-hotel .inc:hover::after,
.find-hotel .inc:focus::after {
  background-color: black; /* Проверено */
}

/*
 * изменение цвета при нажатии
 */

.find-hotel .dec:active::before,
.find-hotel .inc:active::before {
  background-color: #81b3d2; /* Проверено */
}

.find-hotel .inc:active::after {
  background-color: #81b3d2; /* Проверено */
}

/*
 * Кнопка "Найти"
 */

.find-hotel .btn-find {
  display: block;
  color: white;
  background-color: #81b3d2; /*Проверено.*/
  font-size: 21px;    /*Проверено.*/
  font-weight: bold;  /*Проверено.*/
  line-height: 26px; /*Проверено.*/
  width: 100%;
  border: 0;
  text-align: center;
  text-transform: uppercase; /*Проверено.*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
}

.find-hotel .btn-find:hover,
.find-hotel .btn-find:focus {
  background-color: #669ec0; /*Проверено.*/
}

.find-hotel .btn-find:active {
  color: rgba(255, 255, 255, 0.302); /*Проверено.*/
  background-color: #5496bd; /*Проверено.*/
}

/*
 * Карта в нижней части формы поиска
 */
main .map {
  margin-left: auto;
  margin-right: auto;
}


/*
 * Footer
 */

.footer-site {
  background-color: rgba(254, 254, 254, 0.9); /* Проверено */
  width: 1200px;
  height: 120px; /* Проверено */
}

.footer-hashtags {
  color: black; /* Проверено */
  font-size: 21px; /* Проверено  */
  font-weight: bold; /* Проверено  */
  line-height: 26px; /* Проверено  */
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
  background-color: rgba(254, 254, 254, 0.9); /* Проверено */
}

.footer-social li {
  display: inline-block;
}

.footer-social a {
  display: inline-block;
  color: black;
  text-decoration: none;
  width: 46px; /* Проверено. Но у иконки FB ширина 47px */
  height: 48px; /* Проверено, но на макете 48,24 пикселей */
  background-color: #81b3d2; /* Проверено */

}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0; /* Проверено */
}

.footer-social a:active {
  background-color: #5496bd; /* Проверено */
}

.footer-site .social-tw {
  background-image: url("../img/svg/icon-tw.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social-tw:active {
  background-image: url("../img/svg/icon-tw-pressed.svg");
}

.footer-site .social-fb {
  background-image: url("../img/svg/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social-fb:active {
  background-image: url("../img/svg/icon-fb-pressed.svg");
}

.footer-site .social-yt {
  background-image: url("../img/svg/icon-yt.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social-yt:active {
  background-image: url("../img/svg/icon-yt-pressed.svg");
}

.footer-copyright p {
  color: black; /* Проверено */
  font-size: 14px; /* Проверено */
  font-style: normal; /* Проверено */
  line-height: 26px; /* Проверено */
}

.footer-copyright a,
.footer-copyright a:visited {
  display: inline-block;
  width: 115px; /* Проверено */
  height: 41px; /* Проверено */
  text-decoration: none;
  background-image: url("../img/svg/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  background-image: url("../img/svg/logo-htmlacademy-hover.svg");
}

.footer-copyright a:active {
  background-image: url("../img/svg/logo-htmlacademy-pressed.svg");
}


/*
 *
 * Секция для hotels.html
 *
 */


/*
 * Форма поиска
 */

.find-params {
  width: 1200px;
  /* height: 218px;*/ /* Примерно */ 
  background-color: #766357;
  background-image: url("../img/photo/mountains-blur.jpg");
  background-size: 100%;
  border-width: 0;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.find-params-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.find-params-form fieldset {
  border: 0;
}

.find-params-form input[type="checkbox"] {
  border-width: 0;
  outline: 2px solid white;
  border-radius: 2px;
  background-color: transparent;
}

.find-params-form legend {
  font-size: 16px; /* Проверено */
  font-weight: bold; /* Проверено */
  color: white; /* Проверено */
}

.find-params-form label {
  font-size: 14px; /* Проверено */
  font-weight: normal; /* Проверено */
  color: white; /* Проверено */
}

.find-params-form input[type="number"] {
  font-size: 14px;
  font-weight: normal;
  background-color: transparent;
  color: white;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 0;
}

.find-params-form input[type="number"]:-ms-input-placeholder,
.find-params-form input[type="number"]::-ms-input-placeholder,
.find-params-form input[type="number"]::placeholder {
  color: white;
}

.find-params-form button[type="submit"] {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.find-params-form button[type="submit"]:hover,
.find-params-form button[type="submit"]:focus {
  color: black;
  background-color: white;
}

.hotels {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-count {
  color: black;
  background-color: white;
  font-size: 21px;
  font-weight: bold;
}

.sort-results {
  color: black;
  background-color: white;
  font-weight: normal;
}


/*
 *  Виды сортировки
 */

.sort-type h3 {
  color: black;
  background-color: white;
  font-size: 12px;
  line-height: 18px;
}

.sort-type ul {
  display: flex;
}

.sort-type li {
  list-style: none;
  padding-left: 17px;
  padding-right: 17px;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  background-color: white;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:active {
  color: black;
  border-bottom: 0;
}

.sort-type-current a,
.sort-type-current a:visited {
  color: #81b3d2;
  border-bottom: 0;
}


/*
 *  Направление сортировки
 */

.sort-direction ul {
  display: flex;
}

.sort-direction li {
  list-style: none;
}


/*
 * Стрелочки вниз (сортировка по возрастанию: от меньшего к большему)
 */

.sort-direction a,
.sort-direction a:visited {
  display: inline-block;
  width: 11px;
  height: 10px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.sort-direction-to-more a {
  background-image: url("../img/svg/icon-dir-up.svg");
}

.sort-direction-to-more a:hover,
.sort-direction-to-more a:focus {
  background-image: url("../img/svg/icon-dir-up-hover.svg");
}

.sort-direction-to-more a:active {
  background-image: url("../img/svg/icon-dir-up-pressed.svg");
}

.sort-direction-to-more a.current,
.sort-direction-to-more a.current:focus,
.sort-direction-to-more a.current:hover,
.sort-direction-to-more a.current:active {
  background-image: url("../img/svg/icon-dir-up-pressed.svg");
}

/*
 * Стрелочки вверх (сортировка по убыванию: от большего к меньшему)
 */

.sort-direction-to-less a {
  background-image: url("../img/svg/icon-dir-down.svg");
}

.sort-direction-to-less a:hover,
.sort-direction-to-less a:focus {
  background-image: url("../img/svg/icon-dir-down-hover.svg");
}

.sort-direction-to-less a:active {
  background-image: url("../img/svg/icon-dir-down-pressed.svg");
}

.sort-direction-to-less a.current,
.sort-direction-to-less a.current:focus,
.sort-direction-to-less a.current:hover,
.sort-direction-to-less a.current:active {
  background-image: url("../img/svg/icon-dir-down-pressed.svg");
}

/*
 *  Списки найденных гостиниц
 */

.hotel {
  list-style: none;
  color: black;
  background-color: white;
}

.hotel-name {
  font-size: 21px; /* проверено */
  font-weight: bold; /* проверено */
}

.hotel-name a,
.hotel-name a:visited {
  color: black;
  text-decoration: none;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2; /* проверено */
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3); /* проверено */
}

.hotel p {
  font-size: 14px; /* проверено */
  font-weight: normal; /* проверено */
  line-height: 21px; /* проверено */
  color: #333; /* проверено */
}

.hotel .hotel-rating {
  display: inline-block;
  color: #666; /* проверено */
  font-size: 14px; /* проверено */
  font-weight: normal; /* проверено */
  background-color: #f2f2f2; /* проверено */
  padding-top: 5px; /* проверено */
  padding-bottom: 6px; /* проверено */
  padding-left: 16px; /* проверено */
  padding-right: 12px; /* проверено */

}

.hotel-rates {
  cursor: pointer; /* ОЗНАЧАЕТ ли, что элемент интерактивный?
                    (или что может быть таковым?) */
}

.hotel-details,
.hotel-details:visited {
  display: inline-block;
  color: white; /* проверено */
  background-color: #81b3d2; /* проверено */
  text-decoration: none;
  font-weight: bold; /* проверено */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.hotel-details:hover,
.hotel-details:focus {
  background-color: #669ec0; /* проверено */
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3); /* проверено */
  background-color: #5496bd; /* проверено */
}

.hotel-book-it,
.hotel-book-it:visited {
  display: inline-block;
  color: white; /* проверено */
  background-color: #766357; /* проверено */
  text-decoration: none;
  font-weight: bold; /* проверено */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.hotel-book-it:hover,
.hotel-book-it:focus {
  background-color: #604e43; /* проверено */
}

.hotel-book-it:active {
  color: rgba(255, 255, 255, 0.3); /* проверено */
  background-color: #503e33; /* проверено */
}
