@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body {
  font-family: "PTSans", "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
 * Навигация сайта
 */

.nav-site .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-site ul {
  list-style: none;
  background: white;
}

.nav-site li {
  color: black; /* Проверено. */
  background: white;  /* Проверено. */
  display: inline-block;
}

.nav-site a,
.nav-site a:visited {
  color: black; /* Проверено. */
  background: white; /* Проверено. */
  font-size: 14px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  text-decoration: none;
}

.nav-site a:hover,
.nav-site a:focus {
  color: rgb(129, 179, 210); /* Проверено. */
}

.nav-site a:active {
  color: rgba(0, 0, 0, 0.302); /* Проверено. */
}

.nav-site a:not([href]) {
  color: #766357; /* Проверено. */
}

/*
 * Основная секция, основной фон
 */

.background-main {
  width: 1200px;
  height: 773px;
  background-image:
    url("../img/graphics/welcome.png"),
    url("../img/graphics/mountains-big-v.png"),
    url("../img/photo/mountains-big.jpg");
  background-position:
    center 132px,
    center bottom,
    center top;
  background-repeat:
    no-repeat,
    no-repeat;
}

/*
 * Основная секция, основные доводы
 */

.reasons p b {
  color: black; /* Проверено. */
  background: white;
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  text-align: center;
  line-height: 26px;
}

.reasons p {
  color: rgb(51, 51, 51); /* Проверено. */
  background: white;
  font-size: 14px; /* Проверено. */
  font-weight: normal; /* Проверено. */
  text-align: center;
}

.reasons .reason-main {
  background: #81b3d2;
  color: white;
}

.reasons .reason-main h3 {
  color: white; /* Проверено. */
  background: #81b3d2; /* Проверен цвет. Не проверены эффекты. */
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  text-align: center;
}

.reasons .reason-main p {
  color: white;
  background: #81b3d2; /* Проверен цвет. Не проверены эффекты. */
  font-size: 14px; /* Проверено. */
  font-weight: normal; /* Проверено. */
  text-align: center;
}

/*
 * Основная секция - второстепенные резоны
 */

.reasons .reason-secondary {
  background: #eeeeee; /* Проверено. */
}

.reasons .reason-secondary h3 {
  color: black; /* Проверено. */
  background: #eeeeee; /* Проверено. */
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  text-align: center;
}

.reasons .reason-secondary p {
  color: black; /* Проверено. */
  background: #eeeeee; /* Проверено. */
  font-size: 14px; /* Проверено. */
  font-weight: normal; /* Проверено. */
  text-align: center;
}

/*
 * Основная секция - подсказки
 */

.hints {
  background: white; /* Проверено, но на глаз выглядит серее. Перепроверить. */
  color: black; /* Проверено. */
}

.hints h3 {
  color: black; /* Проверено. */
  background: rgba(255, 255, 255, 0);
  font-size: 21px; /* Проверено. */
  font-weight: bold; /* Проверено. */
  text-align: center;
  padding-top: 75px;
}

.hints p {
  color: black; /* Проверено. */
  background: rgba(255, 255, 255, 0);
  font-size: 14px; /* Проверено. */
  text-align: center;
  line-height: 21px;
}

.hints .hints-housing {
  display: block;
  background: white;
  background-image: url("../img/svg/icon-home.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hints .hints-food {
  background: white;
  background-image: url("../img/svg/icon-hamburger.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hints .hints-souvenirs {
  background: white;
  background-image: url("../img/svg/icon-souvenir.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position-x: center;
}

/*
 * Поиск проживания
 */

 .find-hotel {
  color: black;
  background-image: white;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
 }

.find-hotel p {
  color: black;
  font-size: 12px;
  background-image: white;
  text-align: center;
}

.find-hotel p b {
  font-size: 18px;
  font-weight: bold;
}

.find-hotel form {
  font-size: 16px;
  color: black;
  background-color: rgba(256, 256, 256, 1);
}

.find-hotel form .btn-header {
  color: white;
  background-color: #766357; /* Проверено. */
  font-size: 21px; /* Проверено. */
  text-align: center;
  border: 0;
  width: 568px; /* Проверено. */
  height: 86px; /* Проверено. */
}

.find-hotel form .btn-header:hover,
.find-hotel form .btn-header:focus {
  background-color: #604e43; /* Проверено. */
}

.find-hotel form .btn-header:active {
  color: rgba(255, 255, 255, 0.302); /* Проверено. */
  background-color: #503e32;
}

.find-hotel form label {
  font-size: 14px; /* Проверено. */
  color: black; /* Проверено. */
  font-weight: bold; /* Проверено. */
  background-color: white;
}

.find-hotel form input {
  font-size: 14px; /* Проверено. */
  color: black; /* Проверено. */
  font-weight: bold; /* Проверено. */
  background-color: #f2f2f2; /* Проверено. */
  border: 2px solid #f2f2f2;
  line-height: 26px;
}

.find-hotel form input:hover {
  background-color: #ebebeb; /* Проверено. */
  border: 2px solid #ebebeb; /* Проверено. */
}

.find-hotel form input:focus {
  background-color: #fff; /* Проверено. */
  border: 2px solid #e5e5e5; /* Проверено. */
}

.find-hotel form input::placeholder,
.find-hotel form input:-ms-input-placeholder,
.find-hotel form input::-ms-input-placeholder {
  color: black; /* Проверено. */
  font-size: 14px; /* Проверено. */
}

.find-hotel form input ~ button.date div.date {
  background-image: url("../img/svg/calendar.svg");
  width: 21px;
  height: 22px;
}

.find-hotel form input ~ button.date div.date:hover,
.find-hotel form input ~ button.date div.date:focus {
  background-image: url("../img/svg/calendar-hover.svg");
}

.find-hotel form input ~ button.date div.date:active {
  background-image: url("../img/svg/calendar-pressed.svg");
}

.find-hotel .btn-find {
  display: block;
  color: white;
  background-color: #81b3d2; /*Проверено.*/
  font-size: 21px;    /*Проверено.*/
  font-weight: bold;  /*Проверено.*/
  width: 458px;   /*Проверено.*/
  height: 58px;   /*Проверено.*/
  border: 0;
  text-align: center;
  text-transform: uppercase; /*Проверено.*/
  margin-left: auto;
  margin-right: auto;
}


/* !!!
       Странное поведение: если нажать на кнопку (active) но тут же отвести
       мышь, то после этого hover не работает
 */

.find-hotel .btn-find:hover,
.find-hotel .btn-find:focus {
  background-color: #669ec0; /*Проверено.*/
}

.find-hotel .btn-find:active {
  color: rgba(255, 255, 255, 0.302); /*Проверено.*/
  background-color: #5496bd; /*Проверено.*/
}

main .map {
  position: 50%;
}

/*
 * Footer
 */

footer {
  color: black;
  background-color: rgba(256, 256, 256, 1);
}


footer * {
  justify-content: stretch;
  align-items: ;
}

.footer-site {
  background-color: rgba(254, 254, 254, 0.9); /* Проверено */
  width: 1200px;
  height: 120px; /* Проверено */
}

.footer-site .hashtags a,
.footer-site .hashtags a:visited,
.footer-site .hashtags a:hover,
.footer-site .hashtags a:focus {
  color: black; /* Проверено */
  font-size: 21px; /* Проверено  */
  font-weight: bold; /* Проверено  */
  line-height: 26px;
  text-decoration: none;
}

.footer-site .social ul {
  list-style: none;
  background-color: rgba(254, 254, 254, 0.9); /* Проверено */
}

.footer-site .social li {
  display: inline-block;
}

.footer-site .social li a {
  color: black;
  text-decoration: none;
}

.footer-site .social li a div {
  width: 46px; /* Проверено. Но у FB ширина 47px */
  height: 48px; /* Проверено, но на макете 48,24 пикселей */
  background-color: #81b3d2;
}

.footer-site .social a:hover div,
.footer-site .social a:focus div {
  background-color: #669ec0;
}

.footer-site .social a:active div {
  background-color: #5496bd;
}

.footer-site .social .social-tw {
  background-image: url("../img/svg/icon-tw.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social .social-tw:active {
  background-image: url("../img/svg/icon-tw-pressed.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social .social-fb {
  background-image: url("../img/svg/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social .social-fb:active {
  background-image: url("../img/svg/icon-fb-pressed.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social .social-yt {
  background-image: url("../img/svg/icon-yt.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .social .social-yt:active {
  background-image: url("../img/svg/icon-yt-pressed.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-site .copyright p {
  color: black; /* Проверено */
  font-size: 14px; /* Проверено */
  font-style: normal; /* Проверено */
}

.footer-site .copyright .copyright-logo {
  width: 115px; /* Проверено */
  height: 41px; /* Проверено */
  background-image: url("../img/svg/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.footer-site .copyright .copyright-logo:hover,
.footer-site .copyright .copyright-logo:focus {
  background-image: url("../img/svg/logo-htmlacademy-hover.svg");
}

.footer-site .copyright .copyright-logo:active {
  background-image: url("../img/svg/logo-htmlacademy-pressed.svg");
}
